header {
    background: #bbd1b3;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav a {
    text-transform: uppercase;
    color: #363743;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #377e6e;
    text-decoration: underline;
}

.produtos {
    color: #363743;
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid #bbd1b3;
    border-radius: 10px;
}

.produtos li:hover {
    background:#bbd1b3;
    border-color:#377e6e

}

.produtos li:active {
    border-color:#bbd1b3;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    color: #000004;
    font-size: 22px;
    font-weight: bold;
}

.asterisco {
    font-size: 10px;
    font-weight: bolder;
    color: #377e6e;
}


footer {
    text-align: center;
    background: #e0e0c4;
    padding: 40px 0;
}

.copyright {
    color: #377e6e;
    font-size: 13px;
    margin: 20px 0;
}