header {
    background: #bbd1b3;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #363743;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #377e6e;
    text-decoration: underline;
}

.principal p {
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
.titulo-centralizado {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.beneficios {
  padding: 20px;
}
.imagem-beneficios {
    width: 50%;
} 

.lista {
    font-style: italic;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 50px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
}

footer {
    text-align: center;
    background: #e0e0c4;
    padding: 40px 0;
}

.copyright {
    color: #377e6e;
    font-size: 13px;
    margin: 20px 0;
}